.modal .modal-body {
  max-height: 420px;
  overflow-y: auto;
}

h1 {
	font-family: 'Pacifico', cursive;
}

.instructions-img {
width: 300px;
}

.instructions-img2 {
width: 80px;
}

.instructions-img3 {
width: 170px;
}