body {
  padding-top: 120px;
  font-weight: 300;
  -webkit-print-color-adjust:exact;
  /*background-color: rgb(221,234,248);*/
  font-family: 'Open Sans', sans-serif;
}

h1, h3 {
  font-family: 'Pacifico', cursive;
  color: #9370db;;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'Pacifico', serif;
  font-size: 24px;
  padding-right: 20px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse,
.navbar-inverse .navbar-toggle {
  border-color: white;
}

.navbar-inverse,
.container>.navbar-header, 
.container>.navbar-collapse {
  background-color: #AB93DB;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-toggle {
  background-color: #9370db;
}

.btn {
  /*background-color: white;*/
  background-color: #AB93DB;
  color: white;
}

.thumbnail,
a.thumbnail:hover {
  border-color: white;
  color: black;
  text-decoration: none;
  border: none;
}

a.thumbnail:hover {
  color: #C1B4DB;
}

.thumbnail {

  /*background-color: rgb(221,234,248);*/
}

a:hover {
  text-decoration: none;
}

.second-title {
  font-weight: normal; 
  font-family: "Open Sans";
  color: black;
}

